#homePanel.panel
	div
		h1 Trades
		hr
		
		button.fa-pull-right(type="button")#homePanelButtonClearAllTrades
			span Demo

		<br/>

		ul#userwrap &nbsp;

		#description.hint CLICK ON TRADES TO INTERACT WITH THEM

		
