#homePanel.panel
	div
		h1 Trades
		hr
		
		#description.descriptionClient.hint USE THE NAVBAR ABOVE TO CREATE TRADES, CLICK ON TRADES TO VIEW
		#description(hidden).descriptionBroker.hint CLICK ON TRADES TO ENRICH THEM OR MARK THEM FOR REVISION
		#description(hidden).descriptionObserver.hint CLICK ON TRADES TO OBSERVE

		ul#user1wrap &nbsp;
		ul(hidden)#user2wrap &nbsp;
		ul(hidden)#user3wrap &nbsp;
			
		//- #toolWrap
		//- 	span.fa.fa-trash-o.fa-2x
		//- 	p.hint DRAG HERE TO REMOVE
		//- 	#trashbin.sortable