#settlePanel(hidden).panel

	h1 Enrich &amp; Settle Trade
	
	#innerWrap
		span.createball
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="settlePanelTradeDate" id="settlePanelTradeDate" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;TRADE DATE (XX-XX-XXXX)
			br

			legend 
				input(type="text" name="settlePanelValueDate" id="settlePanelValueDate" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;VALUE DATE (XX-XX-XXXX)
			br

			legend 
				select(name="settlePanelOperation" id="settlePanelOperation" disabled="disabled")
					option(value="BUY" disabled="disabled" selected="selected") Operation
					option(value="BUY") Buy
					option(value="SELL") Sell
				span.hint &nbsp;&nbsp;BUY / SELL
			br

			legend 
				input(type="text" name="settlePanelQuantity" id="settlePanelQuantity" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;INTEGER QUANTITY OF SHARES
			br

			legend 
				input(type="text" name="settlePanelSecurity" id="settlePanelSecurity" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;SECURITY (STOCK TICKER FORMAT e.g. IBM)
			br

			legend 
				input(type="text" name="settlePanelPrice" id="settlePanelPrice" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;DESIRED EXECUTION PRICE OF TRADE
			br

			legend 
				input(type="text" name="settlePanelCounterparty" id="settlePanelCounterparty" value="hello, pending fill-in" disabled="disabled")
				span.hint &nbsp;&nbsp;COUNTERPARTY
			br

			button(type="button")#markRevisionNecessaryButton
				span.fa.fa-wrench.bgred.red &nbsp;&nbsp;
				span REVISION NEEDED

			button(type="button")#enrichSettleTradeButton
				span.fa.fa-check &nbsp;&nbsp;
				span ENRICH AND SETTLE
